.container-fluid
  .row
    .col-md-6.col-md-offset-3.graph-search-container
      h1 Graph Search
      .tagline Beta
      .build_info= "Build #{GIT_COMMIT} | #{Rails.env}"


      = render :partial => 'graph_search'

- if @people
  .container-fluid
    .row
      - @people.each do |person|
        /h3= person['data']['name']
        =debug person

- if @results
  = debug @results
  h4= @results.try(:message)
  = debug @people