/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){
  .graph-search #graph-query {
    min-width: 370px;
  }
}
@media(min-width:1200px){
  .graph-search #graph-query {
    min-width: 480px;
  }
}

@media(min-width:1400px){
  .graph-search #graph-query {
    min-width: 575px;
  }
}

.tagline {
  text-transform: uppercase;
  color: #c0c0c0;
  float: right;
  margin-top: -3.0em;
}
.build_info {
  color: #c0c0c0;
  float: right;
  margin-top: -2.0em;
}

.graph-search .auto-helpers {
  a.badge {
    margin: 10px 7px;
    display: block;
    float: left;
    font-weight: normal;
    &:hover {
      background-color: #18f;
    }
  }
}